.background {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  background-color: #f5f374;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.btn-position{
  text-align: center;
}

.btn-dark{
  color: #fff;
  background-color: #1def49;
  border-color: #09cf2a
}

.btn-outline-light {
  color: #ff2681;
  border-color: #f54b92;
}

.container{
  padding-top: 10px;
}

.elecciones{
  display: flex;
  justify-content: space-between;
}

.ganador{
  color: rgb(255, 255, 255);
  text-align: center;
}

h1{
    font-size: 4.5rem;
    color: #fff;
    font-family: cursive;
    text-align: center;
}

.image-instruccion-position{
  text-align: center;
 
}

.image-instruccion{
  width: 80%;
  max-width: 450px;
}

.navbar-position{
  position: fixed;
  width: 100%;
}

.opciones{
  padding: 0.75rem;
  height: 18rem;
  transition: all .3s;
}

p{
  max-width: 700px;
  justify-self: center;
  text-align: justify;
  padding-top: 50px;
}

.instruccion-content{
  display: grid;
  
}

ul{
  list-style: none;
  text-align: center;
}