.background {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  background-color: #e77a2c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.btn {
  width: 40%;
  padding: 10px;
  margin: 5px;
  font-size: larger !important;
  font-family: cursive;
}

.btn-position{
  text-align: center;
}

.btn-outline-light {
  color: #6f6f6f;
  border-color: #6f6f6f;
  background-color: #f8f9fa6b;
}

.container{
  padding-top: 10px;
  display: grid;
}

.eleccion{
    padding: 0.75rem;
    transition: all .3s;
}

.eleccion:hover{
  transform: scale(1.7);
}
.elecciones{
  justify-content: space-around;
  padding: 2% 10% 5% 10%;
}

.elecciones-container{
  width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem);
  grid-gap: 6rem;
  justify-content: center;
}

.ganador{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 60px;
}

.home-btn{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 100px;
  display: grid;
}

.image-instruccion-position{
  text-align: center;
  padding: 25px;
}

.image-instruccion{
  width: 80%;
  max-width: 400px;
}

.instruccion-content{
  display: grid;
  background-color: #e77a2cd9; 
  padding-top: 55px;
}

.navbar-position{
  position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    padding-right: .5rem;
    padding-left: .5rem;
}

.navar-title{
  text-align: center;
}

.opciones{
  padding: 0.75rem;
  height: 18rem;
  transition: all .3s;
}

p{
  max-width: 700px;
  justify-self: center;
  text-align: justify;
  padding-top: 50px;
}

.reglas{
  justify-self: center;
}

.titulo{
  margin-top: 7%;
  /* max-width: 700px; */
  justify-content: center;
  justify-self: center;
}

.title-style{
  color: #fff;
  font-family: cursive;
  text-align: center;
  font-size: 60px;
}

ul{
  list-style: none;
}

.fuente-contenido{
  font-family: cursive;
  font-style: italic;
  color: #424242;
}